{"openapi":"3.0.3","info":{"title":"Skillplate External API","description":"External API for managing users, enrollments, orders, subscriptions, and discounts.\n\n## Authentication\n\nAll requests require a **Personal Access Token (PAT)** passed as a Bearer token:\n\n```\nAuthorization: Bearer 30301d6451xxxxxxxxxxxxxxxx\n```\n\nThe tenant context is automatically resolved from the PAT \u2014 no need to specify the tenant separately. Generate tokens from your dashboard under **Settings \u2192 API Tokens**.\n\n## API Versioning\n\nThe API uses URL-based versioning:\n\n| Version | Base URL |\n|---------|----------|\n| v1 (current) | `https:\/\/api.skillplate.com\/v1\/external` |\n\nAll responses include an `X-API-Supported-Versions` header listing currently supported versions.\n\n### Deprecation\n\nWhen a version is deprecated, responses will include:\n- `Deprecation: true` \u2014 Indicates the version is deprecated\n- `Sunset: <date>` \u2014 RFC 7231 date when the version will be removed\n- `X-API-Deprecation-Info` \u2014 Human-readable migration guidance\n\nMonitor these headers to plan migrations before sunset dates.\n\n## IDs\n\nAll resource IDs (users, products, orders, etc.) are **hashed strings**, not plain integers. Always treat them as opaque identifiers.\n\n## Rate Limits\n\n| Operation | Limit |\n|-----------|-------|\n| Read (GET) | 100 requests\/minute |\n| Write (POST, PUT, PATCH, DELETE) | 30 requests\/minute |\n| Burst | 10 requests\/second |\n\nRate limit status is returned in response headers: `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Reset`.\n\n## Scopes\n\nTokens can be created with specific scopes to limit access:\n\n| Scope | Access |\n|-------|--------|\n| `users:read` | Read user data and list users |\n| `users:write` | Create, update, delete users and manage enrollments |\n| `discounts:read` | Read discount codes |\n| `discounts:write` | Create, update, activate\/deactivate discount codes |\n| `products:read` | Read product catalog |\n| `subscriptions:write` | Create, update, cancel subscriptions and report payments |\n| `orders:write` | Create orders and update order status |\n\n## Webhooks\n\nSkillplate can send webhook events to your configured endpoint URL when important events occur. Webhook payloads are signed using **HMAC-SHA256** \u2014 verify the `X-Skillplate-Signature` header to ensure authenticity.\n\n**Supported webhook events:**\n\n| Event | Description |\n|-------|-------------|\n| `payment.succeeded` | A payment was successfully processed |\n| `payment.failed` | A payment attempt failed |\n| `subscription.started` | A new subscription was activated |\n| `subscription.cancelled` | A subscription was cancelled |\n| `user.created` | A new user was created |\n| `user.updated` | A user's profile was updated |\n| `lesson.completed` | A user completed a lesson |\n| `module.completed` | A user completed a course module |\n| `course.completed` | A user completed an entire course |\n\n`payment.succeeded` and `payment.failed` payloads include an `items[]` array; each item contains a `product_id` (hashed) identifying the purchased product.\n\nConfigure webhook endpoints in your dashboard under **Settings \u2192 Webhooks**.","version":"1.0.0","contact":{"name":"API Support"},"x-logo":{"url":"https:\/\/skillplate.com\/logo.png","altText":"Skillplate API"}},"servers":[{"url":"https:\/\/api.skillplate.com\/{version}\/external","description":"Production","variables":{"version":{"default":"v1","enum":["v1"],"description":"API version"}}}],"security":[{"BearerAuth":[]}],"paths":{"\/users":{"get":{"summary":"List users","description":"Returns a paginated list of users. By default, only non-lead users are returned.","operationId":"listUsers","tags":["Users"],"parameters":[{"name":"page","in":"query","description":"Page number","schema":{"type":"integer","minimum":1,"default":1}},{"name":"per_page","in":"query","description":"Items per page (max 100)","schema":{"type":"integer","minimum":1,"maximum":100,"default":20}},{"name":"search","in":"query","description":"Search by name or email","schema":{"type":"string","maxLength":100}},{"name":"filter[email]","in":"query","description":"Filter by exact email address","schema":{"type":"string","format":"email"}},{"name":"filter[first_name]","in":"query","description":"Filter by first name","schema":{"type":"string","maxLength":100}},{"name":"filter[last_name]","in":"query","description":"Filter by last name","schema":{"type":"string","maxLength":100}},{"name":"filter[tags]","in":"query","description":"Filter users by tag name. Accepts a comma-separated string (`filter[tags]=premium,vip`) or repeated array notation (`filter[tags][]=premium&filter[tags][]=vip`). Returns users that match **any** of the provided tags.","schema":{"type":"string"}},{"name":"lead","in":"query","description":"Filter by lead status. Default is false (non-leads only).","schema":{"type":"boolean","default":false}},{"name":"sort_by","in":"query","description":"Field to sort by","schema":{"type":"string","enum":["created_at","email","first_name","last_name"]}},{"name":"sort_order","in":"query","description":"Sort direction","schema":{"type":"string","enum":["asc","desc"],"default":"asc"}}],"responses":{"200":{"description":"Paginated list of users","headers":{"X-API-Supported-Versions":{"$ref":"#\/components\/headers\/X-API-Supported-Versions"},"Deprecation":{"$ref":"#\/components\/headers\/Deprecation"},"Sunset":{"$ref":"#\/components\/headers\/Sunset"},"X-API-Deprecation-Info":{"$ref":"#\/components\/headers\/X-API-Deprecation-Info"},"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-RateLimit-Reset"}},"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/UserListResponse"}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"403":{"$ref":"#\/components\/responses\/Forbidden"},"429":{"$ref":"#\/components\/responses\/RateLimited"}}},"post":{"summary":"Create user","description":"Creates a new user in the tenant. Optionally enrolls them in products and sends a welcome email.","operationId":"createUser","tags":["Users"],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/CreateUserRequest"},"examples":{"minimal":{"summary":"Minimal \u2014 email and name only","value":{"email":"jane.doe@example.com","first_name":"Jane","last_name":"Doe"}},"full":{"summary":"Full \u2014 all fields including enrollment","value":{"email":"jane.doe@example.com","first_name":"Jane","last_name":"Doe","password":"SecurePass123","phone":"+1-555-0100","country":"US","state":"CA","city":"San Francisco","address":"123 Market St","zip":"94105","tags":["vip","newsletter"],"send_welcome_email":true,"product_ids":["abc123","def456"]}}}}}},"responses":{"201":{"description":"User created successfully","headers":{"X-API-Supported-Versions":{"$ref":"#\/components\/headers\/X-API-Supported-Versions"},"Deprecation":{"$ref":"#\/components\/headers\/Deprecation"},"Sunset":{"$ref":"#\/components\/headers\/Sunset"},"X-API-Deprecation-Info":{"$ref":"#\/components\/headers\/X-API-Deprecation-Info"},"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-RateLimit-Reset"}},"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/UserResponse"}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"403":{"$ref":"#\/components\/responses\/Forbidden"},"422":{"$ref":"#\/components\/responses\/ValidationError"},"429":{"$ref":"#\/components\/responses\/RateLimited"}}}},"\/users\/{id}":{"get":{"summary":"Get user","description":"Retrieves a single user by their ID.","operationId":"getUser","tags":["Users"],"parameters":[{"$ref":"#\/components\/parameters\/UserId"},{"name":"include","in":"query","description":"Comma-separated list of related resources to include. Tags are not included by default and must be requested explicitly.","schema":{"type":"string","enum":["products","certificates","orders","exams","tags","enrollments"]}}],"responses":{"200":{"description":"User details","headers":{"X-API-Supported-Versions":{"$ref":"#\/components\/headers\/X-API-Supported-Versions"},"Deprecation":{"$ref":"#\/components\/headers\/Deprecation"},"Sunset":{"$ref":"#\/components\/headers\/Sunset"},"X-API-Deprecation-Info":{"$ref":"#\/components\/headers\/X-API-Deprecation-Info"},"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-RateLimit-Reset"}},"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/UserResponse"}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"403":{"$ref":"#\/components\/responses\/Forbidden"},"404":{"$ref":"#\/components\/responses\/NotFound"},"429":{"$ref":"#\/components\/responses\/RateLimited"}}},"put":{"summary":"Update user","description":"Updates an existing user. All fields are optional for partial updates.","operationId":"updateUser","tags":["Users"],"parameters":[{"$ref":"#\/components\/parameters\/UserId"}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/UpdateUserRequest"}}}},"responses":{"200":{"description":"User updated successfully","headers":{"X-API-Supported-Versions":{"$ref":"#\/components\/headers\/X-API-Supported-Versions"},"Deprecation":{"$ref":"#\/components\/headers\/Deprecation"},"Sunset":{"$ref":"#\/components\/headers\/Sunset"},"X-API-Deprecation-Info":{"$ref":"#\/components\/headers\/X-API-Deprecation-Info"},"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-RateLimit-Reset"}},"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/UserResponse"}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"403":{"$ref":"#\/components\/responses\/Forbidden"},"404":{"$ref":"#\/components\/responses\/NotFound"},"422":{"$ref":"#\/components\/responses\/ValidationError"},"429":{"$ref":"#\/components\/responses\/RateLimited"}}},"delete":{"summary":"Delete user","description":"Deletes a user and all their related data. Cannot delete the tenant owner.","operationId":"deleteUser","tags":["Users"],"parameters":[{"$ref":"#\/components\/parameters\/UserId"}],"responses":{"204":{"description":"User deleted successfully","headers":{"X-API-Supported-Versions":{"$ref":"#\/components\/headers\/X-API-Supported-Versions"},"Deprecation":{"$ref":"#\/components\/headers\/Deprecation"},"Sunset":{"$ref":"#\/components\/headers\/Sunset"},"X-API-Deprecation-Info":{"$ref":"#\/components\/headers\/X-API-Deprecation-Info"},"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-RateLimit-Reset"}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"403":{"$ref":"#\/components\/responses\/Forbidden"},"404":{"$ref":"#\/components\/responses\/NotFound"},"429":{"$ref":"#\/components\/responses\/RateLimited"}}}},"\/users\/{id}\/enroll":{"post":{"summary":"Enroll user in products","description":"Enrolls a user in one or more products. Idempotent - already enrolled products return 'already_enrolled' status.","operationId":"enrollUser","tags":["Enrollments"],"parameters":[{"$ref":"#\/components\/parameters\/UserId"}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/EnrollmentRequest"}}}},"responses":{"200":{"description":"Enrollment results","headers":{"X-API-Supported-Versions":{"$ref":"#\/components\/headers\/X-API-Supported-Versions"},"Deprecation":{"$ref":"#\/components\/headers\/Deprecation"},"Sunset":{"$ref":"#\/components\/headers\/Sunset"},"X-API-Deprecation-Info":{"$ref":"#\/components\/headers\/X-API-Deprecation-Info"},"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-RateLimit-Reset"}},"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/EnrollmentResponse"}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"403":{"$ref":"#\/components\/responses\/Forbidden"},"404":{"$ref":"#\/components\/responses\/NotFound"},"422":{"$ref":"#\/components\/responses\/ValidationError"},"429":{"$ref":"#\/components\/responses\/RateLimited"}}}},"\/users\/{id}\/unenroll":{"post":{"summary":"Unenroll user from products","description":"Unenrolls a user from one or more products. Idempotent - products not enrolled return 'not_enrolled' status.","operationId":"unenrollUser","tags":["Enrollments"],"parameters":[{"$ref":"#\/components\/parameters\/UserId"}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/EnrollmentRequest"}}}},"responses":{"200":{"description":"Unenrollment results","headers":{"X-API-Supported-Versions":{"$ref":"#\/components\/headers\/X-API-Supported-Versions"},"Deprecation":{"$ref":"#\/components\/headers\/Deprecation"},"Sunset":{"$ref":"#\/components\/headers\/Sunset"},"X-API-Deprecation-Info":{"$ref":"#\/components\/headers\/X-API-Deprecation-Info"},"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-RateLimit-Reset"}},"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/EnrollmentResponse"}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"403":{"$ref":"#\/components\/responses\/Forbidden"},"404":{"$ref":"#\/components\/responses\/NotFound"},"422":{"$ref":"#\/components\/responses\/ValidationError"},"429":{"$ref":"#\/components\/responses\/RateLimited"}}}},"\/users\/{id}\/certify":{"post":{"summary":"Certify user","description":"Issues a certificate for a user on a specific course module. Marks all lessons and the module as completed, then asynchronously generates the certificate PDF and emails the user. Idempotent - if the user already has a certificate for the module, returns 'already_certified' status.","operationId":"certifyUser","tags":["Certificates"],"parameters":[{"$ref":"#\/components\/parameters\/UserId"}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/CertifyUserRequest"}}}},"responses":{"200":{"description":"Certification result","headers":{"X-API-Supported-Versions":{"$ref":"#\/components\/headers\/X-API-Supported-Versions"},"Deprecation":{"$ref":"#\/components\/headers\/Deprecation"},"Sunset":{"$ref":"#\/components\/headers\/Sunset"},"X-API-Deprecation-Info":{"$ref":"#\/components\/headers\/X-API-Deprecation-Info"},"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-RateLimit-Reset"}},"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/CertifyUserResponse"}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"403":{"$ref":"#\/components\/responses\/Forbidden"},"404":{"$ref":"#\/components\/responses\/NotFound"},"422":{"$ref":"#\/components\/responses\/ValidationError"},"429":{"$ref":"#\/components\/responses\/RateLimited"}}}},"\/discounts":{"get":{"summary":"List discounts","description":"Returns a paginated list of discounts with optional filtering.","operationId":"listDiscounts","tags":["Discounts"],"parameters":[{"name":"page","in":"query","description":"Page number","schema":{"type":"integer","minimum":1,"default":1}},{"name":"per_page","in":"query","description":"Items per page (max 100)","schema":{"type":"integer","minimum":1,"maximum":100,"default":20}},{"name":"search","in":"query","description":"Search by name or code","schema":{"type":"string","maxLength":191}},{"name":"code","in":"query","description":"Filter by exact discount code","schema":{"type":"string","maxLength":191}},{"name":"name","in":"query","description":"Filter by discount name","schema":{"type":"string","maxLength":191}},{"name":"status","in":"query","description":"Filter by status","schema":{"type":"string","enum":["active","inactive","scheduled","expired"]}},{"name":"type","in":"query","description":"Filter by discount type","schema":{"type":"string","enum":["percentage","amount"]}},{"name":"active","in":"query","description":"Filter by active flag","schema":{"type":"boolean"}},{"name":"sort_by","in":"query","description":"Field to sort by","schema":{"type":"string","enum":["created_at","name","code","uses","start","end"]}},{"name":"sort_order","in":"query","description":"Sort direction","schema":{"type":"string","enum":["asc","desc"],"default":"desc"}},{"name":"created_from","in":"query","description":"Filter by creation date start (inclusive)","schema":{"type":"string","format":"date"}},{"name":"created_to","in":"query","description":"Filter by creation date end (inclusive, must be after or equal to created_from)","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"Paginated list of discounts","headers":{"X-API-Supported-Versions":{"$ref":"#\/components\/headers\/X-API-Supported-Versions"},"Deprecation":{"$ref":"#\/components\/headers\/Deprecation"},"Sunset":{"$ref":"#\/components\/headers\/Sunset"},"X-API-Deprecation-Info":{"$ref":"#\/components\/headers\/X-API-Deprecation-Info"},"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-RateLimit-Reset"}},"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/DiscountListResponse"}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"403":{"$ref":"#\/components\/responses\/Forbidden"},"429":{"$ref":"#\/components\/responses\/RateLimited"}}},"post":{"summary":"Create discount","description":"Creates a new discount code. Either percent_off or amount_off must be provided, but not both.","operationId":"createDiscount","tags":["Discounts"],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/CreateDiscountRequest"},"examples":{"percentage_discount":{"summary":"Percentage discount \u2014 20% off, limited uses","value":{"code":"SUMMER20","percent_off":20,"max_uses":500,"once_per_customer":true,"duration":"once"}},"fixed_amount_discount":{"summary":"Fixed amount discount \u2014 $50 off, time-limited","value":{"code":"SAVE50","amount_off":50,"start":"2026-03-01T00:00:00Z","end":"2026-03-31T23:59:59Z","duration":"once"}}}}}},"responses":{"201":{"description":"Discount created successfully","headers":{"X-API-Supported-Versions":{"$ref":"#\/components\/headers\/X-API-Supported-Versions"},"Deprecation":{"$ref":"#\/components\/headers\/Deprecation"},"Sunset":{"$ref":"#\/components\/headers\/Sunset"},"X-API-Deprecation-Info":{"$ref":"#\/components\/headers\/X-API-Deprecation-Info"},"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-RateLimit-Reset"}},"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/DiscountResponse"}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"403":{"$ref":"#\/components\/responses\/Forbidden"},"422":{"$ref":"#\/components\/responses\/ValidationError"},"429":{"$ref":"#\/components\/responses\/RateLimited"}}}},"\/discounts\/{id}":{"get":{"summary":"Get discount","description":"Retrieves a single discount by its ID.","operationId":"getDiscount","tags":["Discounts"],"parameters":[{"$ref":"#\/components\/parameters\/DiscountId"}],"responses":{"200":{"description":"Discount details","headers":{"X-API-Supported-Versions":{"$ref":"#\/components\/headers\/X-API-Supported-Versions"},"Deprecation":{"$ref":"#\/components\/headers\/Deprecation"},"Sunset":{"$ref":"#\/components\/headers\/Sunset"},"X-API-Deprecation-Info":{"$ref":"#\/components\/headers\/X-API-Deprecation-Info"},"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-RateLimit-Reset"}},"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/DiscountResponse"}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"403":{"$ref":"#\/components\/responses\/Forbidden"},"404":{"$ref":"#\/components\/responses\/NotFound"},"429":{"$ref":"#\/components\/responses\/RateLimited"}}},"put":{"summary":"Update discount","description":"Updates an existing discount. All fields are optional for partial updates.","operationId":"updateDiscount","tags":["Discounts"],"parameters":[{"$ref":"#\/components\/parameters\/DiscountId"}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/UpdateDiscountRequest"}}}},"responses":{"200":{"description":"Discount updated successfully","headers":{"X-API-Supported-Versions":{"$ref":"#\/components\/headers\/X-API-Supported-Versions"},"Deprecation":{"$ref":"#\/components\/headers\/Deprecation"},"Sunset":{"$ref":"#\/components\/headers\/Sunset"},"X-API-Deprecation-Info":{"$ref":"#\/components\/headers\/X-API-Deprecation-Info"},"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-RateLimit-Reset"}},"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/DiscountResponse"}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"403":{"$ref":"#\/components\/responses\/Forbidden"},"404":{"$ref":"#\/components\/responses\/NotFound"},"422":{"$ref":"#\/components\/responses\/ValidationError"},"429":{"$ref":"#\/components\/responses\/RateLimited"}}}},"\/discounts\/{id}\/activate":{"post":{"summary":"Activate discount","description":"Activates a discount by setting active=true and clearing the end date.","operationId":"activateDiscount","tags":["Discounts"],"parameters":[{"$ref":"#\/components\/parameters\/DiscountId"}],"responses":{"200":{"description":"Discount activated successfully","headers":{"X-API-Supported-Versions":{"$ref":"#\/components\/headers\/X-API-Supported-Versions"},"Deprecation":{"$ref":"#\/components\/headers\/Deprecation"},"Sunset":{"$ref":"#\/components\/headers\/Sunset"},"X-API-Deprecation-Info":{"$ref":"#\/components\/headers\/X-API-Deprecation-Info"},"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-RateLimit-Reset"}},"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/DiscountResponse"}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"403":{"$ref":"#\/components\/responses\/Forbidden"},"404":{"$ref":"#\/components\/responses\/NotFound"},"429":{"$ref":"#\/components\/responses\/RateLimited"}}}},"\/discounts\/{id}\/deactivate":{"post":{"summary":"Deactivate discount","description":"Deactivates a discount by setting active=false.","operationId":"deactivateDiscount","tags":["Discounts"],"parameters":[{"$ref":"#\/components\/parameters\/DiscountId"}],"responses":{"200":{"description":"Discount deactivated successfully","headers":{"X-API-Supported-Versions":{"$ref":"#\/components\/headers\/X-API-Supported-Versions"},"Deprecation":{"$ref":"#\/components\/headers\/Deprecation"},"Sunset":{"$ref":"#\/components\/headers\/Sunset"},"X-API-Deprecation-Info":{"$ref":"#\/components\/headers\/X-API-Deprecation-Info"},"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-RateLimit-Reset"}},"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/DiscountResponse"}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"403":{"$ref":"#\/components\/responses\/Forbidden"},"404":{"$ref":"#\/components\/responses\/NotFound"},"429":{"$ref":"#\/components\/responses\/RateLimited"}}}},"\/subscriptions":{"post":{"summary":"Create subscription","description":"Creates a new external subscription for a user and product. If user_id is not provided, a user will be looked up or created using the email, first_name, and last_name fields.","operationId":"createSubscription","tags":["Subscriptions"],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/CreateSubscriptionRequest"},"examples":{"new_user_subscription":{"summary":"New user \u2014 active subscription","value":{"email":"jane.doe@example.com","first_name":"Jane","last_name":"Doe","product_id":"prod_aBc123","product_pricing_id":"price_xYz789","amount":29,"status":"active","country":"US"}},"trial_subscription":{"summary":"Existing user \u2014 trial subscription","value":{"user_id":"usr_aBc123","product_id":"prod_aBc123","product_pricing_id":"price_xYz789","amount":0,"status":"trial","trial_ends_at":"2026-03-24T00:00:00Z","country":"US"}}}}}},"responses":{"201":{"description":"Subscription created successfully","headers":{"X-API-Supported-Versions":{"$ref":"#\/components\/headers\/X-API-Supported-Versions"},"Deprecation":{"$ref":"#\/components\/headers\/Deprecation"},"Sunset":{"$ref":"#\/components\/headers\/Sunset"},"X-API-Deprecation-Info":{"$ref":"#\/components\/headers\/X-API-Deprecation-Info"},"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-RateLimit-Reset"}},"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/SubscriptionResponse"}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"403":{"$ref":"#\/components\/responses\/Forbidden"},"422":{"$ref":"#\/components\/responses\/ValidationError"},"429":{"$ref":"#\/components\/responses\/RateLimited"}}},"get":{"tags":["Subscriptions"],"summary":"List subscriptions","description":"Returns a paginated list of subscriptions. Requires the subscriptions:read scope.","security":[{"PersonalAccessToken":["subscriptions:read"]}],"parameters":[{"name":"page","in":"query","schema":{"type":"integer","minimum":1}},{"name":"per_page","in":"query","schema":{"type":"integer","minimum":1,"maximum":100,"default":20}},{"name":"status","in":"query","schema":{"type":"string","enum":["active","trial","cancelled","expired"]}},{"name":"active","in":"query","schema":{"type":"boolean"}},{"name":"sort_by","in":"query","schema":{"type":"string","enum":["created_at","status","number_of_payments"]}},{"name":"sort_order","in":"query","schema":{"type":"string","enum":["asc","desc"],"default":"desc"}},{"name":"created_from","in":"query","schema":{"type":"string","format":"date"}},{"name":"created_to","in":"query","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/SubscriptionListResponse"}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"403":{"$ref":"#\/components\/responses\/Forbidden"},"429":{"$ref":"#\/components\/responses\/TooManyRequests"}}}},"\/subscriptions\/{id}":{"patch":{"summary":"Update subscription","description":"Updates an existing subscription. Allows changing the next payment attempt date and billing period.","operationId":"updateSubscription","tags":["Subscriptions"],"parameters":[{"$ref":"#\/components\/parameters\/SubscriptionId"}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/UpdateSubscriptionRequest"}}}},"responses":{"200":{"description":"Subscription updated successfully","headers":{"X-API-Supported-Versions":{"$ref":"#\/components\/headers\/X-API-Supported-Versions"},"Deprecation":{"$ref":"#\/components\/headers\/Deprecation"},"Sunset":{"$ref":"#\/components\/headers\/Sunset"},"X-API-Deprecation-Info":{"$ref":"#\/components\/headers\/X-API-Deprecation-Info"},"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-RateLimit-Reset"}},"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/SubscriptionResponse"}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"403":{"$ref":"#\/components\/responses\/Forbidden"},"404":{"$ref":"#\/components\/responses\/NotFound"},"422":{"$ref":"#\/components\/responses\/ValidationError"},"429":{"$ref":"#\/components\/responses\/RateLimited"}}},"get":{"tags":["Subscriptions"],"summary":"Get a subscription","description":"Returns a single subscription by ID. Requires the subscriptions:read scope.","security":[{"PersonalAccessToken":["subscriptions:read"]}],"parameters":[{"$ref":"#\/components\/parameters\/SubscriptionId"}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/SubscriptionResponse"}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"403":{"$ref":"#\/components\/responses\/Forbidden"},"404":{"$ref":"#\/components\/responses\/NotFound"},"429":{"$ref":"#\/components\/responses\/TooManyRequests"}}}},"\/subscriptions\/{id}\/cancel":{"post":{"summary":"Cancel subscription","description":"Cancels a subscription. The cancellation can take effect immediately, at the end of the current billing period, or on a specific date.","operationId":"cancelSubscription","tags":["Subscriptions"],"parameters":[{"$ref":"#\/components\/parameters\/SubscriptionId"}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/CancelSubscriptionRequest"}}}},"responses":{"200":{"description":"Subscription cancelled successfully","headers":{"X-API-Supported-Versions":{"$ref":"#\/components\/headers\/X-API-Supported-Versions"},"Deprecation":{"$ref":"#\/components\/headers\/Deprecation"},"Sunset":{"$ref":"#\/components\/headers\/Sunset"},"X-API-Deprecation-Info":{"$ref":"#\/components\/headers\/X-API-Deprecation-Info"},"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-RateLimit-Reset"}},"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/SubscriptionResponse"}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"403":{"$ref":"#\/components\/responses\/Forbidden"},"404":{"$ref":"#\/components\/responses\/NotFound"},"422":{"$ref":"#\/components\/responses\/ValidationError"},"429":{"$ref":"#\/components\/responses\/RateLimited"}}}},"\/subscriptions\/{id}\/payment-success":{"post":{"summary":"Report payment success","description":"Reports a successful payment for a subscription. Records the payment amount and resets the failed payment counter.","operationId":"subscriptionPaymentSuccess","tags":["Subscriptions"],"parameters":[{"$ref":"#\/components\/parameters\/SubscriptionId"}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/SubscriptionPaymentRequest"}}}},"responses":{"200":{"description":"Payment recorded successfully","headers":{"X-API-Supported-Versions":{"$ref":"#\/components\/headers\/X-API-Supported-Versions"},"Deprecation":{"$ref":"#\/components\/headers\/Deprecation"},"Sunset":{"$ref":"#\/components\/headers\/Sunset"},"X-API-Deprecation-Info":{"$ref":"#\/components\/headers\/X-API-Deprecation-Info"},"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-RateLimit-Reset"}},"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/SubscriptionResponse"}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"403":{"$ref":"#\/components\/responses\/Forbidden"},"404":{"$ref":"#\/components\/responses\/NotFound"},"422":{"$ref":"#\/components\/responses\/ValidationError"},"429":{"$ref":"#\/components\/responses\/RateLimited"}}}},"\/subscriptions\/{id}\/payment-failed":{"post":{"summary":"Report payment failure","description":"Reports a failed payment for a subscription. Increments the failed payment counter.","operationId":"subscriptionPaymentFailed","tags":["Subscriptions"],"parameters":[{"$ref":"#\/components\/parameters\/SubscriptionId"}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/SubscriptionPaymentFailedRequest"}}}},"responses":{"200":{"description":"Payment failure recorded","headers":{"X-API-Supported-Versions":{"$ref":"#\/components\/headers\/X-API-Supported-Versions"},"Deprecation":{"$ref":"#\/components\/headers\/Deprecation"},"Sunset":{"$ref":"#\/components\/headers\/Sunset"},"X-API-Deprecation-Info":{"$ref":"#\/components\/headers\/X-API-Deprecation-Info"},"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-RateLimit-Reset"}},"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/SubscriptionResponse"}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"403":{"$ref":"#\/components\/responses\/Forbidden"},"404":{"$ref":"#\/components\/responses\/NotFound"},"422":{"$ref":"#\/components\/responses\/ValidationError"},"429":{"$ref":"#\/components\/responses\/RateLimited"}}}},"\/products":{"get":{"summary":"List products","description":"Returns all products grouped by type (courses, bundles, digital_downloads, generics, communities) with their active pricing options. The returned product IDs can be used with enrollment and discount endpoints. Price IDs can be used with the apply_for_prices field in discount endpoints. Use item_id parameter to search for a product by its underlying course\/bundle ID.","operationId":"listProducts","tags":["Products"],"parameters":[{"name":"status","in":"query","description":"Filter by product status","schema":{"type":"string","enum":["published","draft","all"],"default":"published"}},{"name":"type","in":"query","description":"Filter by product type","schema":{"type":"string","enum":["course","bundle","digital_download","generic","community"]}},{"name":"item_id","in":"query","description":"Search by underlying item ID (course ID, bundle ID, etc.) to find matching products. Returns an array of matches (multiple products can share the same item_id across different types).","schema":{"type":"string"}}],"responses":{"200":{"description":"Products grouped by type","headers":{"X-API-Supported-Versions":{"$ref":"#\/components\/headers\/X-API-Supported-Versions"},"Deprecation":{"$ref":"#\/components\/headers\/Deprecation"},"Sunset":{"$ref":"#\/components\/headers\/Sunset"},"X-API-Deprecation-Info":{"$ref":"#\/components\/headers\/X-API-Deprecation-Info"},"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-RateLimit-Reset"}},"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ProductListResponse"}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"403":{"$ref":"#\/components\/responses\/Forbidden"},"429":{"$ref":"#\/components\/responses\/RateLimited"}}}},"\/orders":{"post":{"summary":"Create order","description":"Creates a new order. If user_id is not provided, a user will be looked up or created using the email, first_name, and last_name fields.","operationId":"createOrder","tags":["Orders"],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/CreateOrderRequest"},"examples":{"new_user_order":{"summary":"New user order \u2014 creates user and order together","value":{"email":"john.smith@example.com","first_name":"John","last_name":"Smith","country":"US","line_items":[{"product_id":"abc123","amount":99,"quantity":1}],"status":"completed"}},"existing_user_with_discount":{"summary":"Existing user with discount code applied","value":{"user_id":"usr_aBc123","country":"GB","state":"London","discount_code":"SAVE20","line_items":[{"product_id":"abc123","amount":99,"discount":19.8}],"status":"completed","payment_reference":"pi_3OaBC12eZvKYlo2C1234ABCD"}}}}}},"responses":{"201":{"description":"Order created successfully","headers":{"X-API-Supported-Versions":{"$ref":"#\/components\/headers\/X-API-Supported-Versions"},"Deprecation":{"$ref":"#\/components\/headers\/Deprecation"},"Sunset":{"$ref":"#\/components\/headers\/Sunset"},"X-API-Deprecation-Info":{"$ref":"#\/components\/headers\/X-API-Deprecation-Info"},"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-RateLimit-Reset"}},"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/OrderResponse"}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"403":{"$ref":"#\/components\/responses\/Forbidden"},"422":{"$ref":"#\/components\/responses\/ValidationError"},"429":{"$ref":"#\/components\/responses\/RateLimited"}}},"get":{"tags":["Orders"],"summary":"List orders","description":"Returns a paginated list of orders. Requires the orders:read scope.","security":[{"PersonalAccessToken":["orders:read"]}],"parameters":[{"name":"page","in":"query","schema":{"type":"integer","minimum":1}},{"name":"per_page","in":"query","schema":{"type":"integer","minimum":1,"maximum":100,"default":20}},{"name":"status","in":"query","schema":{"type":"string","enum":["completed","pending","created","cancelled","refunded"]}},{"name":"sort_by","in":"query","schema":{"type":"string","enum":["created_at","status"]}},{"name":"sort_order","in":"query","schema":{"type":"string","enum":["asc","desc"],"default":"desc"}},{"name":"created_from","in":"query","schema":{"type":"string","format":"date"}},{"name":"created_to","in":"query","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/OrderListResponse"}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"403":{"$ref":"#\/components\/responses\/Forbidden"},"429":{"$ref":"#\/components\/responses\/TooManyRequests"}}}},"\/orders\/{id}\/status":{"post":{"summary":"Update order status","description":"Updates the status of an existing order.","operationId":"updateOrderStatus","tags":["Orders"],"parameters":[{"$ref":"#\/components\/parameters\/OrderId"}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/UpdateOrderStatusRequest"}}}},"responses":{"200":{"description":"Order status updated successfully","headers":{"X-API-Supported-Versions":{"$ref":"#\/components\/headers\/X-API-Supported-Versions"},"Deprecation":{"$ref":"#\/components\/headers\/Deprecation"},"Sunset":{"$ref":"#\/components\/headers\/Sunset"},"X-API-Deprecation-Info":{"$ref":"#\/components\/headers\/X-API-Deprecation-Info"},"X-RateLimit-Limit":{"$ref":"#\/components\/headers\/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#\/components\/headers\/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#\/components\/headers\/X-RateLimit-Reset"}},"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/OrderResponse"}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"403":{"$ref":"#\/components\/responses\/Forbidden"},"404":{"$ref":"#\/components\/responses\/NotFound"},"422":{"$ref":"#\/components\/responses\/ValidationError"},"429":{"$ref":"#\/components\/responses\/RateLimited"}}}},"\/orders\/{id}":{"get":{"tags":["Orders"],"summary":"Get an order","description":"Returns a single order by ID. Requires the orders:read scope.","security":[{"PersonalAccessToken":["orders:read"]}],"parameters":[{"$ref":"#\/components\/parameters\/OrderId"}],"responses":{"200":{"description":"Successful response","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/OrderResponse"}}}},"401":{"$ref":"#\/components\/responses\/Unauthorized"},"403":{"$ref":"#\/components\/responses\/Forbidden"},"404":{"$ref":"#\/components\/responses\/NotFound"},"429":{"$ref":"#\/components\/responses\/TooManyRequests"}}}}},"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","description":"Personal Access Token (PAT). Generate from your dashboard settings. The token contains your tenant context, so all requests are automatically scoped to your tenant."}},"headers":{"X-RateLimit-Limit":{"schema":{"type":"integer","example":100},"description":"Maximum number of requests allowed in the current time window."},"X-RateLimit-Remaining":{"schema":{"type":"integer","example":95},"description":"Number of requests remaining in the current time window."},"X-RateLimit-Reset":{"schema":{"type":"integer","example":1706745600},"description":"Unix timestamp (seconds) when the current rate limit window resets."},"X-API-Supported-Versions":{"schema":{"type":"string","example":"v1, v2"},"description":"Comma-separated list of currently supported API versions. Always present in every response."},"Deprecation":{"schema":{"type":"string","example":"true"},"description":"Present and set to 'true' when the requested API version is deprecated. Monitor this header to plan migrations."},"Sunset":{"schema":{"type":"string","example":"Wed, 31 Dec 2027 23:59:59 GMT"},"description":"RFC 7231 date when the deprecated version will be removed. Only present for deprecated versions with a configured sunset date."},"X-API-Deprecation-Info":{"schema":{"type":"string","example":"API version v1 is deprecated. Please migrate to the latest version."},"description":"Human-readable migration guidance. Only present for deprecated versions."}},"parameters":{"UserId":{"name":"id","in":"path","required":true,"description":"User ID (hashed)","schema":{"type":"string"}},"DiscountId":{"name":"id","in":"path","required":true,"description":"Discount ID (hashed)","schema":{"type":"string"}},"SubscriptionId":{"name":"id","in":"path","required":true,"description":"Subscription ID (hashed)","schema":{"type":"string"}},"OrderId":{"name":"id","in":"path","required":true,"description":"Order ID (hashed)","schema":{"type":"string"}}},"schemas":{"User":{"type":"object","example":{"id":"usr_aBc123xYz","email":"jane.doe@example.com","first_name":"Jane","last_name":"Doe","phone":"+1-555-0100","country":"US","state":"CA","city":"San Francisco","address":"123 Market St","zip":"94105","source":"external_api","amount_spent":199,"number_of_enrollments":2,"lead":false,"converted":true,"last_login":"2026-02-20T14:30:00Z","tags":["vip"],"created_at":"2026-01-15T10:00:00Z","updated_at":"2026-02-20T14:30:00Z"},"properties":{"id":{"type":"string","description":"Unique identifier (hashed)"},"email":{"type":"string","format":"email"},"first_name":{"type":"string"},"last_name":{"type":"string"},"phone":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"state":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"address":{"type":"string","nullable":true},"zip":{"type":"string","nullable":true},"source":{"type":"string"},"amount_spent":{"type":"number"},"number_of_enrollments":{"type":"integer"},"lead":{"type":"boolean"},"converted":{"type":"boolean"},"last_login":{"type":"string","format":"date-time","nullable":true},"tags":{"type":"array","items":{"type":"string"},"description":"User tags. Returned when 'tags' is requested via the include parameter."},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"enrollments":{"type":"array","description":"Active product enrollments for the user. Returned when 'enrollments' is requested via the include parameter. Note: this returns enrollment records with status\/access info, whereas 'products' include returns product details.","items":{"$ref":"#\/components\/schemas\/Enrollment"}}}},"Enrollment":{"type":"object","properties":{"product_id":{"type":"string","description":"Product ID (hashed)"},"product_type":{"type":"string","description":"Type of product (e.g., Course, Bundle)"},"status":{"type":"string","enum":["active","expired","cancelled"]},"access_type":{"type":"string"},"enrolled_at":{"type":"string","format":"date-time"}}},"Discount":{"type":"object","example":{"id":"dsc_xYz789aBc","object":"discount","code":"SUMMER20","type":"percentage","value":20,"status":"active","active":true,"start":"2026-06-01T00:00:00Z","expires":"2026-08-31T23:59:59Z","uses":47,"max_uses":500,"once_per_customer":true,"duration":"once","duration_cycles":null,"gross":2350,"net":1880,"apply_for_products":null,"apply_for_prices":null,"only_for":null,"created_at":"2026-05-20T09:00:00Z","updated_at":"2026-06-10T12:00:00Z"},"properties":{"id":{"type":"string","description":"Unique identifier (hashed)"},"object":{"type":"string","enum":["discount"]},"code":{"type":"string","description":"Unique discount code customers enter at checkout"},"type":{"type":"string","enum":["percentage","amount"],"description":"Type of discount"},"value":{"type":"number","description":"Discount value (percentage 1-100 or fixed amount)"},"status":{"type":"string","enum":["active","inactive","scheduled","expired"],"description":"Computed status based on active flag and dates"},"active":{"type":"boolean","description":"Whether the discount is enabled"},"start":{"type":"string","format":"date-time","description":"Start date\/time when discount becomes valid"},"expires":{"type":"string","format":"date-time","nullable":true,"description":"Expiration date\/time (null for no expiration)"},"uses":{"type":"integer","description":"Number of times the discount has been used"},"max_uses":{"type":"integer","nullable":true,"description":"Maximum number of uses allowed (null for unlimited)"},"once_per_customer":{"type":"boolean","description":"Whether each customer can only use this discount once"},"duration":{"type":"string","enum":["forever","repeating","once"],"description":"How long the discount applies for subscriptions"},"duration_cycles":{"type":"integer","nullable":true,"description":"Number of billing cycles (when duration is 'repeating')"},"gross":{"type":"number","nullable":true,"description":"Gross revenue generated by this discount code"},"net":{"type":"number","nullable":true,"description":"Net revenue generated by this discount code (after discounts)"},"apply_for_products":{"type":"array","items":{"type":"string"},"nullable":true,"description":"Product IDs (hashed) this discount applies to"},"apply_for_prices":{"type":"array","items":{"type":"string"},"nullable":true,"description":"Price IDs (hashed) this discount applies to"},"only_for":{"type":"array","items":{"type":"string","enum":["one-time","subscription","installments"]},"nullable":true,"description":"Pricing types this discount is valid for. When set, the discount is rejected at checkout if the pricing type does not match. If apply_for_products is also provided, only_for will be ignored and stored as null."},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"}}},"CreateUserRequest":{"type":"object","required":["email","first_name","last_name"],"properties":{"email":{"type":"string","format":"email","maxLength":191},"first_name":{"type":"string","maxLength":100},"last_name":{"type":"string","maxLength":100},"password":{"type":"string","minLength":8,"maxLength":191,"description":"If not provided, user will need to reset password"},"phone":{"type":"string","maxLength":30},"country":{"type":"string","maxLength":100,"description":"Country name or 2-letter ISO code"},"state":{"type":"string","maxLength":100},"city":{"type":"string","maxLength":100},"address":{"type":"string","maxLength":255},"zip":{"type":"string","maxLength":20},"tags":{"type":"array","items":{"type":"string","maxLength":100},"description":"Tags to assign to the user"},"send_welcome_email":{"type":"boolean","default":false},"product_ids":{"type":"array","items":{"type":"string"},"description":"Product IDs to enroll the user in upon creation"}}},"UpdateUserRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","maxLength":191},"first_name":{"type":"string","maxLength":100},"last_name":{"type":"string","maxLength":100},"password":{"type":"string","minLength":8,"maxLength":191},"phone":{"type":"string","maxLength":30},"country":{"type":"string","maxLength":100,"description":"Country name or 2-letter ISO code"},"state":{"type":"string","maxLength":100},"city":{"type":"string","maxLength":100},"address":{"type":"string","maxLength":255},"zip":{"type":"string","maxLength":20},"tags":{"type":"array","nullable":true,"items":{"type":"string","maxLength":100},"description":"Tags to assign to the user. Sync semantics: null or omitted preserves existing tags, empty array clears all tags."}}},"CreateDiscountRequest":{"type":"object","description":"Either percent_off or amount_off is required (not both).","properties":{"code":{"type":"string","maxLength":191,"description":"Unique discount code. If not provided, a random 8-character code will be auto-generated."},"percent_off":{"type":"number","minimum":1,"maximum":100,"description":"Percentage discount (1-100). Required if amount_off not provided. Cannot be used together with amount_off."},"amount_off":{"type":"number","minimum":1,"description":"Fixed amount discount. Required if percent_off not provided. Cannot be used together with percent_off."},"start":{"type":"string","format":"date-time","description":"Start date\/time. Defaults to now."},"end":{"type":"string","format":"date-time","description":"Expiration date\/time. Must be after start."},"max_uses":{"type":"integer","minimum":1,"description":"Maximum number of uses allowed"},"once_per_customer":{"type":"boolean","default":false,"description":"Limit to one use per customer"},"duration":{"type":"string","enum":["forever","repeating","once"],"default":"forever","description":"How long discount applies for subscriptions"},"duration_cycles":{"type":"integer","minimum":1,"description":"Number of billing cycles (required when duration is 'repeating')"},"apply_for_products":{"type":"array","items":{"type":"string"},"description":"Product IDs (hashed) to restrict discount to"},"apply_for_prices":{"type":"array","items":{"type":"string"},"description":"Price IDs (hashed) to restrict discount to"},"only_for":{"type":"array","items":{"type":"string","enum":["one-time","subscription","installments"]},"description":"Pricing types this discount is valid for. If apply_for_products is also provided, only_for will be ignored and stored as null."}}},"UpdateDiscountRequest":{"type":"object","properties":{"code":{"type":"string","maxLength":191,"description":"Unique discount code"},"percent_off":{"type":"number","minimum":1,"maximum":100,"description":"Percentage discount (1-100). Setting this will clear amount_off. Cannot be used together with amount_off."},"amount_off":{"type":"number","minimum":1,"description":"Fixed amount discount. Setting this will clear percent_off. Cannot be used together with percent_off."},"start":{"type":"string","format":"date-time","description":"Start date\/time"},"end":{"type":"string","format":"date-time","description":"Expiration date\/time"},"max_uses":{"type":"integer","minimum":1,"description":"Maximum number of uses"},"once_per_customer":{"type":"boolean","description":"Limit to one use per customer"},"duration":{"type":"string","enum":["forever","repeating","once"],"description":"How long discount applies for subscriptions"},"duration_cycles":{"type":"integer","minimum":1,"description":"Number of billing cycles"},"apply_for_products":{"type":"array","items":{"type":"string"},"description":"Product IDs (hashed) to restrict discount to"},"apply_for_prices":{"type":"array","items":{"type":"string"},"description":"Price IDs (hashed) to restrict discount to"},"only_for":{"type":"array","items":{"type":"string","enum":["one-time","subscription","installments"]},"description":"Pricing types this discount is valid for. Pass an empty array to remove the restriction. If apply_for_products is also provided, only_for will be ignored and stored as null."}}},"EnrollmentRequest":{"type":"object","required":["product_ids"],"properties":{"product_ids":{"type":"array","minItems":1,"items":{"type":"string"},"description":"Array of product IDs (hashed)"}}},"CertifyUserRequest":{"type":"object","required":["module_id"],"properties":{"module_id":{"type":"string","description":"Course module ID (hashed)"}}},"CertifyUserResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"user_id":{"type":"string","description":"User ID (hashed)"},"module_id":{"type":"string","description":"Course module ID (hashed)"},"status":{"type":"string","enum":["certifying","already_certified"],"description":"'certifying' if certificate generation was initiated, 'already_certified' if user already has a certificate for this module"}}}}},"UserResponse":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/User"}}},"UserListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/User"}},"meta":{"$ref":"#\/components\/schemas\/PaginationMeta"}}},"DiscountResponse":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Discount"}}},"DiscountListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/Discount"}},"meta":{"$ref":"#\/components\/schemas\/PaginationMeta"}}},"EnrollmentResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"user_id":{"type":"string"},"enrollments":{"type":"array","items":{"$ref":"#\/components\/schemas\/EnrollmentResult"}}}}}},"EnrollmentResult":{"type":"object","properties":{"product_id":{"type":"string"},"status":{"type":"string","enum":["enrolled","unenrolled","already_enrolled","not_enrolled","error"]},"message":{"type":"string","description":"Error message if status is 'error'"}}},"ProductListResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"courses":{"type":"array","items":{"$ref":"#\/components\/schemas\/ProductItem"}},"bundles":{"type":"array","items":{"$ref":"#\/components\/schemas\/ProductItem"}},"digital_downloads":{"type":"array","items":{"$ref":"#\/components\/schemas\/ProductItem"}},"generics":{"type":"array","items":{"$ref":"#\/components\/schemas\/ProductItem"}},"communities":{"type":"array","items":{"$ref":"#\/components\/schemas\/ProductItem"}}}}}},"ProductItem":{"type":"object","properties":{"id":{"type":"string","description":"Product ID (hashed) - use this with enrollment and discount endpoints"},"item_id":{"type":"string","description":"Underlying item ID (hashed) - the course\/bundle\/etc ID"},"title":{"type":"string","description":"Product title"},"type":{"type":"string","enum":["course","bundle","digital_download","generic","community"],"description":"Product type"},"prices":{"type":"array","description":"Active pricing options for this product","items":{"$ref":"#\/components\/schemas\/ProductPrice"}}}},"ProductPrice":{"type":"object","description":"A pricing option for a product","properties":{"id":{"type":"string","description":"Price ID (hashed) - use this with discount endpoints (apply_for_prices)"},"name":{"type":"string","description":"Price name\/title (e.g., 'Basic Plan', 'Pro Plan')"},"amount":{"type":"number","description":"Price amount in the tenant's currency"}}},"Subscription":{"type":"object","example":{"id":"sub_tUv789wXy","status":"active","active":true,"period":"1 month","number_of_payments":3,"failed_payments":0,"trial_ends_at":null,"ends_at":null,"next_attempt":"2026-03-24T00:00:00Z","user_id":"usr_aBc123xYz","product_id":"prod_aBc123","order_id":"ord_mNp456qRs","created_at":"2025-12-24T10:00:00Z","updated_at":"2026-02-24T10:00:00Z","billing":{"country":"US","state":null,"city":null,"address":null,"zip":null,"phone":null,"vat_number":null}},"properties":{"id":{"type":"string","description":"Unique identifier (hashed)"},"status":{"type":"string","enum":["active","trial","cancelled","expired","paused"],"description":"Subscription status"},"active":{"type":"boolean","description":"Whether the subscription is currently active"},"period":{"type":"string","description":"Billing period","enum":["1 day","1 week","1 month","3 month","6 month","1 year"]},"number_of_payments":{"type":"integer","description":"Total number of successful payments"},"failed_payments":{"type":"integer","description":"Number of consecutive failed payments"},"trial_ends_at":{"type":"string","format":"date-time","nullable":true,"description":"Trial period end date"},"ends_at":{"type":"string","format":"date-time","nullable":true,"description":"Subscription end date (set when cancelled)"},"next_attempt":{"type":"string","format":"date-time","nullable":true,"description":"Next payment attempt date"},"user_id":{"type":"string","nullable":true,"description":"User ID (hashed)"},"product_id":{"type":"string","nullable":true,"description":"Product ID (hashed)"},"order_id":{"type":"string","nullable":true,"description":"Order ID (hashed)"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"billing":{"$ref":"#\/components\/schemas\/BillingAddress","nullable":true,"description":"Billing address from the subscription's associated order. Present in detail and list responses."},"order":{"type":"object","nullable":true,"description":"Associated order details (included when the order relation is loaded)"}}},"SubscriptionResponse":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Subscription"}}},"CreateSubscriptionRequest":{"type":"object","required":["product_id","product_pricing_id","status","country"],"properties":{"product_id":{"type":"string","description":"Product ID (hashed)"},"product_pricing_id":{"type":"string","description":"Product pricing ID (hashed). Must reference a pricing of type 'subscription'."},"amount":{"type":"number","minimum":0,"nullable":true,"description":"Payment amount. Defaults to the product pricing amount if not provided."},"discount":{"type":"number","minimum":0,"nullable":true,"description":"Discount amount applied"},"user_id":{"type":"string","nullable":true,"description":"Existing user ID (hashed). If not provided, email\/first_name\/last_name are required to look up or create a user."},"email":{"type":"string","format":"email","maxLength":191,"description":"User email. Required if user_id is not provided."},"first_name":{"type":"string","maxLength":100,"description":"User first name. Required if user_id is not provided."},"last_name":{"type":"string","maxLength":100,"description":"User last name. Required if user_id is not provided."},"status":{"type":"string","enum":["active","trial"],"description":"Initial subscription status"},"trial_ends_at":{"type":"string","format":"date-time","nullable":true,"description":"Trial period end date (relevant when status is 'trial')"},"metadata":{"type":"object","nullable":true,"additionalProperties":{"type":"string","maxLength":500},"description":"Key-value metadata to attach to the order created for this subscription"},"country":{"type":"string","maxLength":100,"description":"Billing country"},"state":{"type":"string","maxLength":100,"nullable":true,"description":"Billing state \/ region"},"city":{"type":"string","maxLength":100,"nullable":true,"description":"Billing city"},"address":{"type":"string","maxLength":255,"nullable":true,"description":"Billing street address"},"zip":{"type":"string","maxLength":20,"nullable":true,"description":"Billing zip \/ postal code"},"phone":{"type":"string","maxLength":30,"nullable":true,"description":"Phone number"},"vat_number":{"type":"string","maxLength":50,"nullable":true,"description":"VAT number"}}},"UpdateSubscriptionRequest":{"type":"object","properties":{"next_attempt":{"type":"string","format":"date-time","nullable":true,"description":"Next payment attempt date"},"period":{"type":"string","nullable":true,"enum":["1 day","1 week","1 month","3 month","6 month","1 year"],"description":"Billing period"},"country":{"type":"string","maxLength":100,"nullable":true,"description":"Billing country"},"state":{"type":"string","maxLength":100,"nullable":true,"description":"Billing state \/ region"},"city":{"type":"string","maxLength":100,"nullable":true,"description":"Billing city"},"address":{"type":"string","maxLength":255,"nullable":true,"description":"Billing street address"},"zip":{"type":"string","maxLength":20,"nullable":true,"description":"Billing zip \/ postal code"},"phone":{"type":"string","maxLength":30,"nullable":true,"description":"Phone number"},"vat_number":{"type":"string","maxLength":50,"nullable":true,"description":"VAT number"}}},"CancelSubscriptionRequest":{"type":"object","required":["cancel"],"properties":{"cancel":{"type":"string","enum":["now","at_end_of_period","on_date"],"description":"When to cancel: immediately, at end of current period, or on a specific date"},"cancel_date":{"type":"string","format":"date-time","nullable":true,"description":"Specific cancellation date (required when cancel is 'on_date')"}}},"SubscriptionPaymentRequest":{"type":"object","required":["amount"],"properties":{"amount":{"type":"number","minimum":0,"description":"Payment amount"},"discount":{"type":"number","minimum":0,"nullable":true,"description":"Discount amount applied"}}},"SubscriptionPaymentFailedRequest":{"type":"object","properties":{"amount":{"type":"number","minimum":0,"description":"Payment amount"},"discount":{"type":"number","minimum":0,"nullable":true,"description":"Discount amount applied"},"failed_reason":{"type":"string","maxLength":255,"nullable":true,"description":"Human-readable reason for the payment failure (e.g. 'Card declined - insufficient funds'). Stored in the order's additional_status field."}}},"Order":{"type":"object","example":{"id":"ord_mNp456qRs","external":true,"status":"completed","user_id":"usr_aBc123xYz","user_email":"jane.doe@example.com","discount_id":null,"billing":{"country":"US","state":"CA","city":"San Francisco","address":"123 Market St","zip":"94105","phone":null,"vat_number":null},"totals":{"subtotal":99,"discount":0,"tax":8.92,"tax_percentage":9,"total":107.92},"items":[{"product_id":"prod_aBc123","product_name":"Advanced PHP Course","amount":99,"discount":0,"tax":8.92,"quantity":1,"type":"course","access_type":"lifetime"}],"metadata":[],"created_at":"2026-02-24T10:00:00Z","updated_at":"2026-02-24T10:00:00Z"},"properties":{"id":{"type":"string","description":"Unique identifier (hashed)"},"external":{"type":"boolean","description":"Whether this order was created via the external API"},"status":{"type":"string","description":"Order status"},"user_id":{"type":"string","nullable":true,"description":"User ID (hashed)"},"user_email":{"type":"string","nullable":true,"description":"User email address"},"discount_id":{"type":"string","nullable":true,"description":"Discount ID (hashed)"},"billing":{"$ref":"#\/components\/schemas\/BillingAddress"},"totals":{"$ref":"#\/components\/schemas\/OrderTotals"},"items":{"type":"array","items":{"$ref":"#\/components\/schemas\/OrderItem"}},"metadata":{"type":"object","additionalProperties":{"type":"string"},"description":"Key-value metadata attached to the order"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"}}},"OrderItem":{"type":"object","properties":{"product_id":{"type":"string","nullable":true,"description":"Product ID (hashed)"},"product_name":{"type":"string","description":"Product name"},"amount":{"type":"number","description":"Item amount"},"discount":{"type":"number","description":"Discount applied to item"},"tax":{"type":"number","description":"Tax amount"},"quantity":{"type":"integer","description":"Item quantity"},"type":{"type":"string","description":"Product type"},"access_type":{"type":"string","description":"Access type granted"}}},"OrderResponse":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Order"}}},"CreateOrderRequest":{"type":"object","required":["line_items","country"],"properties":{"user_id":{"type":"string","nullable":true,"description":"Existing user ID (hashed). If not provided, email\/first_name\/last_name are required to look up or create a user."},"email":{"type":"string","format":"email","maxLength":191,"description":"User email. Required if user_id is not provided."},"first_name":{"type":"string","maxLength":100,"description":"User first name. Required if user_id is not provided."},"last_name":{"type":"string","maxLength":100,"description":"User last name. Required if user_id is not provided."},"line_items":{"type":"array","minItems":1,"description":"Order line items","items":{"type":"object","required":["product_id","amount"],"properties":{"product_id":{"type":"string","description":"Product ID (hashed)"},"amount":{"type":"number","minimum":0,"description":"Item amount"},"quantity":{"type":"integer","minimum":1,"nullable":true,"description":"Item quantity (defaults to 1)"},"discount":{"type":"number","minimum":0,"nullable":true,"description":"Discount amount for this item"}}}},"status":{"type":"string","nullable":true,"enum":["completed","pending","created"],"description":"Order status"},"country":{"type":"string","maxLength":100,"description":"Billing country"},"state":{"type":"string","maxLength":100,"nullable":true,"description":"Billing state"},"city":{"type":"string","maxLength":100,"nullable":true,"description":"Billing city"},"address":{"type":"string","maxLength":255,"nullable":true,"description":"Billing address"},"zip":{"type":"string","maxLength":20,"nullable":true,"description":"Billing zip\/postal code"},"phone":{"type":"string","maxLength":30,"nullable":true,"description":"Phone number"},"vat_number":{"type":"string","maxLength":50,"nullable":true,"description":"VAT number"},"discount_code":{"type":"string","maxLength":191,"nullable":true,"description":"Discount code to apply"},"discount_id":{"type":"string","nullable":true,"description":"Discount ID (hashed) to apply"},"metadata":{"type":"object","nullable":true,"additionalProperties":{"type":"string","maxLength":500},"description":"Key-value metadata to attach to the order"},"payment_reference":{"type":"string","maxLength":255,"nullable":true,"description":"External payment reference"},"notes":{"type":"string","maxLength":1000,"nullable":true,"description":"Order notes"}}},"UpdateOrderStatusRequest":{"type":"object","required":["status"],"properties":{"status":{"type":"string","enum":["completed","cancelled","refunded"],"description":"New order status"}}},"PaginationMeta":{"type":"object","properties":{"current_page":{"type":"integer"},"from":{"type":"integer"},"last_page":{"type":"integer"},"per_page":{"type":"integer"},"to":{"type":"integer"},"total":{"type":"integer"}}},"Error":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"status":{"type":"integer"},"request_id":{"type":"string","format":"uuid"}}}}},"BillingAddress":{"type":"object","description":"Billing address information attached to an order","properties":{"country":{"type":"string","nullable":true},"state":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"address":{"type":"string","nullable":true},"zip":{"type":"string","nullable":true},"phone":{"type":"string","nullable":true},"vat_number":{"type":"string","nullable":true}}},"OrderTotals":{"type":"object","description":"Computed totals for the order","properties":{"subtotal":{"type":"number","format":"float"},"discount":{"type":"number","format":"float"},"tax":{"type":"number","format":"float"},"tax_percentage":{"type":"number","format":"float"},"total":{"type":"number","format":"float"}}},"Certificate":{"type":"object","description":"Certificate issued to a user upon completing a course module","properties":{"id":{"type":"string","description":"Certificate ID (hashed)"},"object":{"type":"string","enum":["certificate"]},"certificate_url":{"type":"string","format":"uri","nullable":true,"description":"URL to the generated certificate PDF"},"course_name":{"type":"string","description":"Name of the course"},"module_name":{"type":"string","description":"Name of the module"},"score":{"type":"number","nullable":true,"description":"Raw score achieved"},"percentage":{"type":"number","nullable":true,"description":"Score as a percentage"},"completed_at":{"type":"string","format":"date-time","description":"Date the certificate was issued"}}},"CompletedExam":{"type":"object","description":"A completed exam record for a user","properties":{"id":{"type":"string","description":"Exam attempt ID (hashed)"},"object":{"type":"string","enum":["exam"]},"name":{"type":"string","description":"Exam name"},"course":{"type":"string","nullable":true,"description":"Name of the associated course"},"module":{"type":"string","nullable":true,"description":"Name of the associated module"},"passed":{"type":"boolean","description":"Whether the exam was passed"},"points":{"type":"number","description":"Points scored"},"max_points":{"type":"number","description":"Maximum possible points"},"percentage":{"type":"number","description":"Score as a percentage"},"passing_grade":{"type":"number","description":"Minimum percentage required to pass"},"attempts":{"type":"integer","description":"Number of attempts made"},"max_attempts":{"type":"integer","nullable":true,"description":"Maximum attempts allowed (null for unlimited)"},"completed_at":{"type":"string","format":"date-time","description":"Date the exam was completed"}}},"SubscriptionListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/Subscription"}},"meta":{"$ref":"#\/components\/schemas\/PaginationMeta"}}},"OrderListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/Order"}},"meta":{"$ref":"#\/components\/schemas\/PaginationMeta"}}}},"responses":{"VersionHeaders":{"description":"Common version headers included in all responses. X-API-Supported-Versions is always present. Deprecation, Sunset, and X-API-Deprecation-Info are only present when using a deprecated API version.","headers":{"X-API-Supported-Versions":{"$ref":"#\/components\/headers\/X-API-Supported-Versions"},"Deprecation":{"$ref":"#\/components\/headers\/Deprecation"},"Sunset":{"$ref":"#\/components\/headers\/Sunset"},"X-API-Deprecation-Info":{"$ref":"#\/components\/headers\/X-API-Deprecation-Info"}}},"Unauthorized":{"description":"Authentication failed","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"},"examples":{"missing_token":{"value":{"error":{"code":"missing_token","message":"Bearer token required","status":401,"request_id":"550e8400-e29b-41d4-a716-446655440000"}}},"invalid_token":{"value":{"error":{"code":"invalid_token","message":"Invalid or expired token","status":401,"request_id":"550e8400-e29b-41d4-a716-446655440000"}}}}}}},"Forbidden":{"description":"Insufficient permissions","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"},"example":{"error":{"code":"insufficient_scope","message":"Insufficient permissions for this operation","status":403,"request_id":"550e8400-e29b-41d4-a716-446655440000"}}}}},"NotFound":{"description":"Resource not found","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"},"example":{"error":{"code":"not_found","message":"Resource not found","status":404,"request_id":"550e8400-e29b-41d4-a716-446655440000"}}}}},"ValidationError":{"description":"Validation failed","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"errors":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}},"example":{"message":"The given data was invalid.","errors":{"code":["The code has already been taken."],"name":["The name field is required."]}}}}},"RateLimited":{"description":"Rate limit exceeded","headers":{"X-RateLimit-Limit":{"schema":{"type":"integer"},"description":"Request limit per window"},"X-RateLimit-Remaining":{"schema":{"type":"integer"},"description":"Remaining requests in current window"},"X-RateLimit-Reset":{"schema":{"type":"integer"},"description":"Unix timestamp when the rate limit resets"}},"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"},"example":{"error":{"code":"rate_limit_exceeded","message":"Too many requests. Please try again later.","status":429,"request_id":"550e8400-e29b-41d4-a716-446655440000"}}}}}}},"tags":[{"name":"Users","description":"Create, read, update, and delete users in your tenant.\n\n**Required scopes:** `users:read` (GET), `users:write` (POST\/PUT\/DELETE)\n\n> All user IDs are hashed strings. Use `filter[email]` to look up a user by email address."},{"name":"Enrollments","description":"Enroll or unenroll users from products (courses, bundles, digital downloads, etc.).\n\n**Required scope:** `users:write`\n\n> Enrollment is **idempotent** \u2014 enrolling an already-enrolled user returns `already_enrolled` without error."},{"name":"Certificates","description":"Issue certificates to users for completing course modules. Certificate generation and email delivery are processed asynchronously.\n\n**Required scope:** `users:write`\n\n> Certification is **idempotent** \u2014 certifying an already-certified user returns `already_certified`."},{"name":"Discounts","description":"Manage discount codes for your products. Supports percentage and fixed-amount discounts with optional date ranges, usage limits, and subscription duration controls.\n\n**Required scopes:** `discounts:read` (GET), `discounts:write` (POST\/PUT)\n\n> Either `percent_off` or `amount_off` is required when creating a discount \u2014 not both."},{"name":"Products","description":"Read your product catalog including courses, bundles, digital downloads, generics, and communities. Returns active pricing options for each product.\n\n**Required scope:** `products:read`\n\n> Use `item_id` parameter to find a product by its underlying course\/bundle ID."},{"name":"Subscriptions","description":"Create and manage external subscriptions for users. Report payment success\/failure to keep subscription state in sync with your payment processor.\n\n**Required scope:** `subscriptions:write`\n\n> If `user_id` is omitted, a user is looked up or created using `email`, `first_name`, and `last_name`."},{"name":"Orders","description":"Create orders for users and update their status. Orders automatically enroll users in purchased products when marked as `completed`.\n\n**Required scope:** `orders:write`\n\n> If `user_id` is omitted, a user is looked up or created using `email`, `first_name`, and `last_name`."}],"x-tagGroups":[{"name":"Users & Enrollments","tags":["Users","Enrollments","Certificates"]},{"name":"Commerce","tags":["Orders","Subscriptions","Discounts"]},{"name":"Catalog","tags":["Products"]}]}